html {
    scroll-behavior: smooth;
}
.navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020; 
}
body {
    background-color: #222831;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
}
header {
    padding: 10px 0;
    background-color: #31363F;
}
header h1 {
    color: #EEEEEE;
    margin-left: 20px;
}
header .navbar-nav .nav-link {
    color: #EEEEEE;
    margin-right: 20px;
    padding-top: 10px;
}
header .dropdown-menu .dropdown-item {
    color: #222831;
    background-color: #ffffff;
}
#main {
    text-align: center;
    padding: 150px;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
}
section {
    padding: 80px 20px;
}
.skill-rating {
    display: flex;
    flex-direction: row-reverse;
}

.skill-rating input[type="radio"] {
    display: none;
}

.skill-rating label {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
}

.skill-rating input[type="radio"]:checked ~ label {
    background-color: #007bff; 
}
.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin: 10px 0;
}

.contact-list a {
    color: #007bff; 
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #31363F; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
